###functions

#ls which does ls -lh on result of which.  useful if /usr/bin/$BINARY is a symlink 
function lw() { 
	 if [ $# -gt 1 ] ; then 
	    for bin in $@ ; do lw $bin ; done 
     elif [ $# -gt 0 ] ; then
       bin=$(which $1)
       ls -lh $bin
       [ -L $bin ] && lw $(readlink $bin)
	 else 
	    echo "lw (ls which) requires more than 0 arguments"
	 fi  
}

#make a dir, cd into it
function mkcd() {
	 mkdir -p "$@";
	 pushd "$@" > /dev/null;
	 echo $PWD;
}

# extract archives.  should handle multiple files.
function x() {
	 case $@ in 
	     *.tar.bz2)		tar -xvjf "$@"	;;	
	     *.tar.gz)		tar -xvzf "$@"	;;
	     *.bz2)		bunzip2 "$@"	;;
	     *.rar)		unrar x "$@"	;;
	     *.gz)		gunzip "$@"	;;
	     *.tar) 		tar xf "$@"	;;
	     *.tbz2)		tar -xvjf "$@"	;;
	     *.tgz)		tar -xvzf "$@"	;;
	     *.zip)		unzip "$@"  	;;
	     *.xpi)		unzip "$@"  	;;
	     *.Z)		uncompress "$@"	;;
	     *.7z)		7z x "$@"	;;
	     *.ace)		unace e "$@"	;;
	     *.arj)		arj -y e "$@"	;;
	     *)			echo "'$@' cannot be extracted via x()"	;;
	 esac
}

# packs $2-$n into $1 depending on $1's extension.  add more file types as needed
function pack() {
	 if [ $# -lt 2 ] ; then
	    echo -e "\npack() usage:"
	    echo -e "\tpack archive_file_name file1 file2 ... fileN"
	    echo -e "\tcreates archive of files 1-N\n"
	 else 
	   DEST=$1
	   shift

	   case $DEST in 
		*.tar.bz2)		tar -cvjf $DEST "$@" ;;  
		*.tar.gz)		tar -cvzf $DEST "$@" ;;  
		*.zip)			zip -r $DEST "$@" ;;
		*.xpi)			zip -r $DEST "$@" ;;
		*)				echo "Unknown file type - $DEST" ;;
	   esac
	 fi
}

# like sleep, but spits out a . every second
function delay() {
	 typeset -i NUM
	 NUM=$1
	 if [ $NUM -gt 0 ] ; then
	     for i in `seq $NUM` ; do sleep 1 ; echo -n '.' ; done
	     echo ""
	 else
	     echo "Invalid argument.  Please use a positive integer."
	 fi
}

# changes cd to pushd.  as a function so that cd with no args still brings you home.  see pd as popd
function cd() {
    if [ $# -eq 0 ] ; then
	pushd $HOME
    else
	pushd "$@" > /dev/null
    fi
}

# screen attach.  if multiple, presents a menu for choosing.
function ssx() {
    OPTS=`screen -ls | grep "[0-9]\." | while read line ; do echo "$line" | sed -e 's/\s/_/g' ; done`

    case $(echo $OPTS | wc -w) in
	0) 
	    echo -e "\nNo screen sessions open\n" 
	    ;;
	1) 
	    SESSION=$OPTS
	    echo -e "\nAttaching to only available screen"
	    ;;
	*) 
	    echo -e "\nPick a screen session"
	    select opt in $OPTS ; do
		SESSION=$opt
		break;
	    done
	    ;;
    esac

    screen -x $(echo $SESSION | sed -e 's/\..*//')

}

function calc() {
	awk "BEGIN{ print $* }" ;
}

# returns age of file in seconds
function age() {
	CURRENT=$( date +%s )
	FILEAGE=$( stat -t $1 -c %Z )
	calc $CURRENT - $FILEAGE
}

# many or multi grep.  syntactic sugar for grep -l | xargs grep
function mgrep() {
    EXEC="ls "
    for term in "$@" ; do
        EXEC="$EXEC | xargs grep -l -i '$term' "
    done
    #echo $EXEC 1>&2
    eval $EXEC
}

function roll() {
    if [ $# -lt 1 ]  ; then
        echo -e "\nUsage: roll [n] d\n\nRoll n dice of size d.  If left out, n is assumed to be one.\n"
    else
        TYPE=$1
        if [ $# -eq 2 ] ; then
            TYPE=$2
            NUM=$1
        else
            NUM=1
        fi

        SUM=0
        for i in `seq $NUM` ; do 
            # seq 1 $TYPE | shuf -n 1
            ROLL=$(( $RANDOM%$TYPE + 1 ))
            echo $ROLL
            SUM=$(( $SUM + $ROLL ))
        done
        
        echo 
        echo "=> $SUM"
    fi

}
function nosleep() {
    # if this still doesn't work, fork $@ and run deactivate or reset periodically
    xset -dpms
    xset s off
    $@
    xset +dpms
    xset s on
}

function dec2base() {
    if [ $# -ne 2 ] ; then
        echo -e "\nUsage: dec2base number base.\n"
    else 
        echo "$1 $2 o p " | dc
    fi
}

# prints n paragraphs of lorem ipsum text.  n defaults to 5 thanks to lipsum.com being cool.
function loremipsum() {
     curl -s 'lipsum.com/feed/html' -d amount=$1 | grep -v '<' | grep '\.$'
}

# repeats a command n times.  no loop logic, but should be a small prefix instead of for ;; done
function rep() {
    if [ $# -lt 2 ] ; then
        echo -e "\nUsage: rep N cmd\nRuns cmd N times\n"
    else
        N=$1
        shift
        for n in `seq $N` ; do $@ ; done
    fi
}

#for f in "cd" ; do export $f ; done

# prints color codes for use in tmux and vim
function colors() {
  for i in {0..255} ; do     
    printf "\x1b[38;5;${i}mcolour${i}\n"; 
  done | less
}

# find directory and cd to it.  awesome for drupal modules with known names 8 dirs deep
function fd() {
  OLD=$(pwd)
  OLD_IFS=${IFS}
  
  # $@ gives $1 $2 $3... we need $1\ $2\ $3, with spaces not IFS in between.
  # array_join for bash?

  DIR=$(find ./ -type d -name $@ 2>/dev/null) 
  #IFS='\n' # lets select use directories with spaces
  echo $DIR
  [ -d "$DIR" -a "$DIR" != '' ] && pushd $DIR || select D in $DIR ; do
    if [ $D ] ; then
      pushd $D
    fi
    break
  done 

  IFS=${OLD_IFS}

  if [ "$OLD" == "$(pwd)" ] ; then 
    false
  fi
}

# xephy wrapper
function xnest() {
  if [[ $1 == '-h' ]] ; then
    echo -e "Usage: xnest [widthxheight] program\n\n"
  fi

  if [[ $1 =~ [0-9]+x[0-9] ]] ; then
    RESOLUTION=" -screen $1 "
    shift
  fi

  NTH=$(find /tmp/.X*-lock | wc -l)
  X=":$NTH.0"

  Xephyr $X $RESOLUTION &
  PID=$!

  sleep 1
  DISPLAY=$X $@
  kill $PID
}

# tail follow and beep
function tfb() {
  tail -F $@ | while true ; do
    if read -t 60 LINE ; then 
      echo -e "\a$LINE"
    fi
  done
}

# claims memory.  tells firefox to back off.
function malloc() {
  if [[ $# -eq 0 || $1 -eq '-h' || $1 -lt 0 ]] ; then
    echo -e "usage: malloc N\n\nAllocate N mb, wait, then release it."
  else 
    N=$(free -m | grep Mem: | awk '{print int($2/10)}')
    if [[ $N -gt $1 ]] ;then 
      N=$1
    fi
    sh -c "MEMBLOB=\$(dd if=/dev/urandom bs=1MB count=$N) ; sleep 1"
  fi
}
