[submodule ".pentadactyl/plugins/firebug-pentadactyl"]
	path = .pentadactyl/plugins/firebug-pentadacty
	url = git://github.com/maksimr/firebug-pentadactyl.git
[submodule "scripts/fd"]
	path = home/scripts/fd
	url = git@github.com:sagotsky/fd.git
