[user]
  email = sagotsky@gmail.com
  name = Jon Sagotsky 
[core]
  editor = vim
[color]
  status = auto
  diff = auto
  branch = auto
[alias]
  co = checkout
  st = status
  ci = commit
  cp = cherry-pick
  logs = log -p -S

  pp =        ! (git pull --rebase && git push) || bell
  track =     ! ~/scripts/git/git-track.sh
  cb =        ! ~/scripts/git/git-checkoutbranch.sh
  ls-branch = ! ~/scripts/git/git-ls-branch.sh
  what-branch=! ~/scripts/git/git-what-branch.sh
  push-deploy= ! git push && devdash stagedeploy
[push]
  default = tracking
[grep]
	extendRegexp = true
	lineNumber = true
[help]
	autocorrect = 5
[diff]
  #external = git-meld
  #external = vimdiff
