home/!.cmus/*.theme
!.ssh/authorized_keys
!.ssh/config
!home/.xmonad/xmonad.hs
*.pyc
*.sublime-project
*.sublime-workspace
*.swp
home/.cmus/*
.pentadactyl/info
.ssh/*

tags
home/.vim/.netrwhist
home/.vim/autoload/*
home/.vim/plugin/*
home/.vim/bundle/*
home/.vim/plugged/*

home/.nvim/.netrwhist
home/.nvim/autoload/*
home/.nvim/plugin/*
home/.nvim/bundle/*
home/.vimperator/info/*
home/.xmonad/*

scripts/fmarks/*
scripts/local/*
scripts/showrss/shows.log
