!.cmus/*.theme
!.ssh/authorized_keys
!.ssh/config
!.xmonad/xmonad.hs
*.pyc
*.sublime-project
*.sublime-workspace
*.swp
.cmus/*
.pentadactyl/info
.ssh/*

tags
.vim/.netrwhist
.vim/autoload/*
.vim/plugin/*
.vim/bundle/*
.vim/plugged/*

.nvim/.netrwhist
.nvim/autoload/*
.nvim/plugin/*
.nvim/bundle/*
.vimperator/info/*
.xmonad/*

scripts/fmarks/*
scripts/local/*
scripts/showrss/shows.log
