*.swp
.pentadactyl/info
.ssh/*
!.ssh/authorized_keys
!.ssh/config
.vim/.netrwhist
.xmonad/*
!.xmonad/xmonad.hs
scripts/fmarks/*
scripts/local/*
*.pyc
*.sublime-project
*.sublime-workspace
.cmus/*
!.cmus/*.theme


