"\e[Z": alias-expand-line

"\C-ga": "git add "
"\C-gb": "git branch "
"\C-gc": "git checkout "
"\C-gC": "git commit "
"\C-gd": "git diff "
"\C-gg": "git grep "
"\C-gi": "git init "
"\C-gf": "git fetch "
"\C-gl": "git log "
"\C-gm": "git mv "
"\C-gM": "git merge "
"\C-gp": "git pull "
"\C-gP": "git push "
"\C-gr": "git rm "
"\C-gR": "git reset "
"\C-gs": "git status -sb "
"\C-gS": "git show "

# \e = alt
"\eo3": "drush @scholar7-3 "
"\eo1": "drush @scholar7-1 "
"\eo2": "drush @scholar7-2 "
"\eop": "drush @prod-projects-local "
"\eos": "drush @prod-scholar-local "
"\eoh": "drush @prod-hwpi-local "
