[user]
	email = jon.sagotsky@ezcater.com
  name = Jon Sagotsky
[core]
  pager = delta
  editor = nvim
	excludesfile = /home/sagotsky/.gitignore_global
[color]
  status = auto
  diff = auto
  branch = auto
[alias]
  amend = commit --amend --no-edit
  cm = commit -m
  co = checkout
  cp = cherry-pick
  logs = log -p -S
  pf = push -f
  pu = push -u
  rb = rebase
  rbc = rb --continue
  rba = rb --abort
  root = rev-parse --show-toplevel
  st = status

  ls = ! git log --oneline $(git trunk-name)...
  trunk-name =     ! git config --get branch.main.merge &>/dev/null && echo "main" || echo "master"
  remaster =       ! git fetch && git rebase -i origin/$(git trunk-name)
  wip =            ! git commit -m 'wip' && git remaster
  prune-branches = ! git branch -d $(git branch --merged=$(git trunk-name) | grep -v " $(git trunk-name)")
  ls-branch =      ! git --no-pager diff origin/$(git trunk-name) --name-only && git ls-files --others --exclude-standard
  pr-files =       ! git ls-branch # trying out an alias - does this mentally map better?
  pr-specs =       ! git ls-branch | grep _spec.rb
	cb =             ! git co "$(git for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/ | fzf)"

[fetch]
	prune = true
[push]
	default = current
[grep]
	extendRegexp = true
	lineNumber = true
[help]
	autocorrect = 5
[diff]
  #external = git-meld
  #external = vimdiff
; [branch]
; 	autosetuprebase = always
[pull]
  rebase = true

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side unobtrusive-line-numbers decorations
  whitespace-error-style = 22 reverse
  side-by-side = true
  line-numbers-left-style = 235
  line-numbers-right-style = 235

[delta "decorations"]
  commit-decoration-style = none # bold yellow box ul
  file-style = bold white
  file-decoration-style = none
  hunk-header-decoration-style = none
