[user]
	email = sagotsky@gmail.com
  name = Jon Sagotsky
[core]
  pager = delta
  editor = nvim
	excludesfile = /home/sagotsky/.gitignore_global
[color]
  status = auto
  diff = auto
  branch = auto
[alias]
  co = checkout
  st = status
  cp = cherry-pick
  logs = log -p -S
  amend = commit --amend --no-edit

  remaster =       ! git fetch && git rebase -i origin/master
  wip =            ! git commit -m 'wip' && git remaster
  prune-branches = ! git branch -d $(git branch --merged=master | grep -v ' master')
  ls-branch =      ! git --no-pager diff origin/master --name-only && git ls-files --others --exclude-standard
  pr-files =       ! git ls-branch # trying out an alias - does this mentally map better?
  pr-specs =       ! git ls-branch | grep _spec.rb
	cb =             ! git co "$(git for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/ | fzf)"


[push]
	default = current
[grep]
	extendRegexp = true
	lineNumber = true
[help]
	autocorrect = 5
[diff]
  #external = git-meld
  #external = vimdiff
; [branch]
; 	autosetuprebase = always
[pull]
  rebase = true

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side unobtrusive-line-numbers decorations
  whitespace-error-style = 22 reverse
  side-by-side = true
  line-numbers-left-style = 235
  line-numbers-right-style = 235

[delta "decorations"]
  commit-decoration-style = none # bold yellow box ul
  file-style = bold white
  file-decoration-style = none
  hunk-header-decoration-style = none
